<div class="container px-0">
    <iframe class="shadow mx-0" width="100%" height="254dvh"
        src="https://www.youtube.com/embed/OtBQtTyKUdo?si=SOCfc1d1aA_VGuJW" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <a class="text-decoration-none fw-light" href="https://www.youtube.com/channel/UC1cXCm2eBWi4fF8vBvwFmhw">Odwiedź
        kanał na YouTube</a>
</div>