<div class="container border-top pt-5" id="contact">
    <div class="row">
        <div class="d-flex flex-column col mt-0">
            <img class="img-fluid mx-auto" style="scale: .6; margin-top: -10%; min-width: 218px;" src="https://uni.opole.pl/images/logo/uo-white-w256.png" alt="logo UO">
            <p class="text-center mb-0" style="font-size: .9rem;">ROK ZAŁOŻENIA</p>
            <p class="text-center fw-bold fs-4" style="color: #6c757d;">AD 1994</p>
        </div>
        <div class="col d-flex-wrap pt-3">
            <p class="fs-3 fw-light">Adres</p>
            <p class="fw-lighter mt-4"> Uniwersytet Opolski<br>
                                        45-040 Opole, pl. Kopernika 11a<br>
                                        NIP: 754-000-71-79<br>
                                        Regon: 000001382<br>
                                        e-mail: <a class="fw-lighter" href="mailto:sekretariat@uni.opole.pl">sekretariat@uni.opole.pl</a>
            </p>
        </div>
        <div class="col pt-3 pb-2">
            <p class="fs-3 fw-light">Na skróty</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Rekrutacja</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Kalendarz Akademicki</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Punkt Logowania</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">EDUROAM</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">USOSweb</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Dla niepełnosprawnych</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">RODO</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">EZD</a>
                </li>
              </ul>
        </div>
        <div class="col pt-3">
            <p class="fs-3 fw-light">Ogłoszenia, oferty</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Biuletyn Informacji Publicznej</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Zamówienia Publiczne</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Wynajem sal</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Oferty pracy</a>
                </li>
                <li class="list-group-item">
                    <a class="text-decoration-none fw-lighter" href="#">Projekty UE</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <hr>
        <p class="text-center fw-light" style="color: #6c757d;">
            Copyright © 2023 Uniwersytet Opolski | Dostępność | Polityka prywatności | Polityka cookies | Inspektor Ochrony Danych w UO: iod@uni.opole.pl
        </p>
    </div>
</div>