<div class="d-flex justify-content-center pt-4 gap-5 mx-auto mt-5 container bg-white border-start border-end logos">
   <a href="https://uni.opole.pl/">
      <img class="img-fluid img-1" src="https://uni.opole.pl/images/logouo_header_.png">
   </a>
   <a href="https://forthem.uni.opole.pl/">
      <img class="img-fluid img-2" src="https://uni.opole.pl/images/forthem_Logo_RGB.jpg">
   </a>
</div>

<div class="d-flex justify-content-around container mx-auto bg-white border-start border-end">
   <div class="d-flex flex-column left mt-3">

      <section class="image-gallery px-1 py-1 border">
            <app-carousel></app-carousel>
      </section>

      <section class="most-news">
         <h3>Najważniejsze wydarzenia</h3>
            <app-news-home></app-news-home>
      </section>

      <section class="map mx-auto">
         <h3>Rozmieszczenie budynków UO</h3>
         <!-- mapa -->
         <iframe class="map-iframe shadow" src="https://www.google.com/maps/d/u/0/embed?mid=1VXvR-yOP6kWZj-IGRWYnj69Yi_0ZK4I&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
      </section>
  </div>

  <div class="d-flex flex-column right mt-3">

     <section class="events">
       <app-events></app-events>
     </section>

     <section class="mini-gallery">
      <h3>Życie UO w obiektywie</h3>
         <app-gallery></app-gallery>
     </section>

     <section class="video">
      <h3>Wideo</h3>
         <app-video></app-video>
     </section>
  </div>
</div>