.left {
    width: 55%;
}
.right {
    width: 35%;
}
section {
    width: 100%;
    margin: 20px 0;
    h3 {
        width: 90%;
        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
    }
}

.logos {
    width: 100%;
    img {
        width: 300px;
    }
}

.events {
    width: 100%;
}

.map .map-iframe {
    width: 100%;
}

.media {
    a {
        font-weight: 300;
        text-decoration: none;
        color: #000;
    }
    a:hover {
        color: #0d6efd
    }
}

.departments {
    a {
        font-size: 1rem;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .body-text {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
 }