<div class="d-flex justify-content-center pt-3 gap-5 container bg-white border-start border-end mx-auto logos">
   <a href="https://uni.opole.pl/">
      <img class="img-fluid img-1" src="https://uni.opole.pl/images/logouo_header_.png">
   </a>
   <a href="https://forthem.uni.opole.pl/">
      <img class="img-fluid img-2" src="https://uni.opole.pl/images/forthem_Logo_RGB.jpg">
   </a>
</div>
<div class="d-flex justify-content-around container bg-white border-start border-end mx-auto">
   <div class="d-flex flex-column left mt-3">

      <section class="image-gallery border">
            <app-carousel></app-carousel>
      </section>

      <section class="most-news">
         <h3>Najważniejsze wydarzenia</h3>
            <app-news-home></app-news-home>
      </section>

      <section class="map mx-auto">
         <h3>Rozmieszczenie budynków UO</h3>
         <!-- mapa -->
         <iframe class="map-iframe" src="https://www.google.com/maps/d/u/0/embed?mid=1VXvR-yOP6kWZj-IGRWYnj69Yi_0ZK4I&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
      </section>
  </div>

  <div class="d-flex right mt-3">
     <section class="news">
      
     </section>
  </div>
</div>