<div class="container px-0">
    <div class="row my-3">
        <div class="col-3" *ngFor="let image of row1">
            <a class="imgLink" href="#">
                <img src="{{image.link}}" class="img-thumbnail rounded-0" alt="mini-gallery image">
            </a>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3" *ngFor="let image of row2">
            <a class="imgLink" href="#">
                <img src="{{image.link}}" class="img-thumbnail rounded-0" alt="mini-gallery image">
            </a>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3" *ngFor="let image of row3">
            <a class="imgLink" href="#">
                <img src="{{image.link}}" class="img-thumbnail rounded-0" alt="mini-gallery image">
            </a>
        </div>
    </div>
</div>