a:hover {
    img {
        border-color: #6c757d;
    }
}

.link {
    width: 90px;
    height: 90px;
    background-color: #dee2e6;
    font-size: 1.7rem;
    opacity: 0.7;
    color: #6c757d;
    border: 1px solid #dee2e6;
    padding: 2px;
}
.link:hover {
    border: 1px solid #000;
    // opacity: 1;
    color: #000;
}